extends ../blocks/layout-default/layout-default
include ../blocks/container/container
include ../blocks/rich-text/rich-text
include ../blocks/code/code

block head
  - var pageTitle = 'Webpack Template';
  - var pageMod = '';

block content
  +container()._small
    +rich-text()
      section
        h2.align_center Webpack Template
      section
        p
          | Webpack template for quick start with <b>Typescript</b> for scripts, <b>Pug</b> for templates and
          | <b>SCSS</b> for styles. <b>Eslint</b> is used for linting scripts and <b>Stylelint</b> used for linting scss.
        h4 Install
        +code().language-typescript
          | npm install --legacy-peer-deps
        p
          | If you get an error with <b>ajv</b> then run the command
        +code().language-typescript
          | npm dedupe --force
        h4 Pages
        p
          | The pages are located in the <code>src/app/pages</code> and are added automatically to the build.
        h4 Blocks
        p
          | To add blocks (pug mixin + scss + script), you need to add them to the <code>src/app/blocks</code> and add
          | <code>@forward</code> to the <code>src/app/blocks/_index.scss</code>
        h4 SVG Sprite
        p
          | The sprite is build automatically when the application is launched from the folder
          | <code>src/icons</code>. To manually build a sprite, run the command:
        +code().language-typescript
          | npm run icons
