$font-main: var(--font-main);
$font-verdana: var(--font-verdana);
$font-proxima: var(--font-proxima);
$font-size: 16px;

$min-width: 1199px;
$site-width: 1170px;
$l-width: 978px;
$min-d-width: 960px;
$t-width: 768px;
$m-width: 359px;

$col-width: var(--col-width);
$col-xl-width: var(--col-xl-width);
$col-l-width: var(--col-l-width);

$color-text: var(--color-text);
$color-text-rgb: var(--color-text-rgb);
$color-bg: var(--color-bg);
$color-selection: var(--color-selection);
$color-yellow: var(--color-yellow);
$color-yellow-rgb: var(--color-yellow-rgb);
$color-red: var(--color-red);
$color-red-rgb: var(--color-red-rgb);
