@font-face {
  font-family: ProximaNovaExCn;
  src: url('../../resources/assets/fonts/ProximaNovaExCn-Regular.woff2') format('woff2'),
  url('../../resources/assets/fonts/ProximaNovaExCn-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ProximaNovaExCn;
  src: url('../../resources/assets/fonts/ProximaNovaExCn-Semibold.woff2') format('woff2'),
  url('../../resources/assets/fonts/ProximaNovaExCn-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
